<script type="text/javascript">
    $(document).ready(function () {
      $(".sidebar-menuItems-links").click(function () {
        $(this).next(".sidebar-submenu").slideToggle();
        $(this).find(".fa-plus").toggleClass('rotate');
      });
    });
  </script>
</body>
</html>