<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="forgot__content-body">
      <h4>Forgot Password?</h4>
      <% if (forgotFlash != "") { %>
       <h3 class="forgot__flash-message danger"><%= forgotFlash %> </h3>
      <% } %>
      <form action="/ForgotPassword" method="post">
        <input
          type="email"
          name="email"
          id=""
          placeholder="Enter email here."
          required
        />

        <button type="submit" class="forgot__btn">Generate OTP</button>
      </form>
    </div>
  </body>
</html>
