<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
  </head>
  <body>
    <div class="forgot__content-body">
      <h4>Reset Password</h4>
      <% if (forgotPassFlash != "") { %>
        <h3 class="forgot__flash-message danger"><%= forgotPassFlash %> </h3>
       <% } %>
      <form action="/SetNewPassword" method="post">
        <input type="password" name="password" placeholder="New Password"  required/>
        <input type="password" name="confirmPassword" id="" placeholder="Re-enter New Password" required/>
        <button type="submit" class="forgot__btn">Change Password</button>
      </form>
    </div>
  </body>
</html>
